<div class="container">
    <h2>{{ product?.name }}</h2>
  
    <div class="product-details">
      <p><b>Ativo:</b> {{ product?.active ? 'Sim' : 'Não' }}</p>
      <p><b>Fabricação:</b> {{ product?.manufacturing | date:'mediumDate' }}</p>
      <p><b>Validade:</b> {{ product?.expiration | date:'mediumDate' }}</p>
      <p><b>Código Fornecedor:</b> {{ product?.supplierCode }}</p>
      <p><b>Descrição Fornecedor:</b> {{ product?.supplierDescription }}</p>
      <p><b>CNPJ:</b> {{ product?.cnpj }}</p>
    </div>
  
    <button mat-raised-button (click)="editProduct()">Editar</button>
  </div>
  
  <div class="edit-form" *ngIf="isEditing">
    <form [formGroup]="editForm">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Nome do Produto">
      </mat-form-field>
  
      <mat-checkbox matCheckbox  [(ngModel)]="isActive" placeholder="Ativo">Ativo</mat-checkbox>
  
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="manufacturing" placeholder="Fabricação">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" formControlName="expiration" placeholder="Validade">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput formControlName="supplierCode" placeholder="Código Fornecedor">
      </mat-form-field>
  
      <mat-form-field>
        <textarea matInput formControlName="supplierDescription" placeholder="Descrição Fornecedor"></textarea>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput formControlName="cnpj" placeholder="CNPJ">
      </mat-form-field>
  
    </form>
    <button type="button" class="save" mat-raised-button (click)="saveProduct()" [disabled]="editForm.valid">Salvar</button>
    <button type="button" class="cancel"  mat-raised-button (click)="cancelEdit()" >Cancelar</button>
  </div>
  