.product-list {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container{
    padding: 10vw 10vh;
    height: 100vh;
    width: 100vw;
    background-color: #ddf;
    box-sizing: border-box;
  }