<div class="container">
    <h2>Produtos</h2>
  
    <mat-card class="product-list">
      <mat-card-title>Lista de Produtos</mat-card-title>
  
      <mat-card-content>
        <div *ngIf="!products.length">
          Nenhum Produto 
          <br>
        </div>
        <mat-list>
          <mat-list-item *ngFor="let product of products">
            <a mat-list-item-link (click)="viewProduct(product)">
              <mat-icon>shopping_cart</mat-icon>
              <span>{{ product.name }}</span>
            </a>
          </mat-list-item>
        </mat-list>
        </mat-card-content>
    </mat-card>
  <br>
    <button mat-raised-button (click)="addProduct()">Adicionar Novo Produto</button>
  </div>