
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vidros-primary: mat.define-palette(mat.$indigo-palette);
$vidros-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vidros-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vidros-theme: mat.define-light-theme((
  color: (
    primary: $vidros-primary,
    accent: $vidros-accent,
    warn: $vidros-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vidros-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
  padding: 10vw 10vh;
  background-color: #bacbf2;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  mat-form-field{
    width: calc(24.9999% - 10px);
  }
}
.save{
  background-color: #183884;
  color: white;
  margin-right: 10px !important;
}
.cancel{
  color: #183884;
}